node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
expo-debug.log
.idea/
.vscode/


../node_modules/
../release-apks/
../dist/
../public/

../.git/
../.next/
../assets/
../cypress/
../playwright-report/
